# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
tmp/
data/
results/
figures/
hpc/wheelhouse/
hpc/buildenv_viennarna/
requirements-drac.txt
__pycache__/
*.pyc
.DS_Store
*.egg-info/